solution/Workflows/CreateLinkToken-BA3B1A08-0ABF-F011-BBD2-000D3A5D055D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "mda_Dataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0-1": {
        "api": {
          "name": "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0",
          "logicalName": "mda_plaid"
        },
        "connection": {
          "connectionReferenceLogicalName": "mda_Plaid"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Plaid Secret Key (Plain Text) (mda_PlaidSecretKeyPlainText)": {
          "defaultValue": "N/A",
          "type": "String",
          "metadata": {
            "schemaName": "mda_PlaidSecretKeyPlainText",
            "description": "In case you'd rather not configure an Azure Key Vault, this will be used instead. If a valid Azure Key Vault reference is provided, that will be used in lieu of this."
          }
        },
        "Plaid Client Id (mda_PlaidClientId)": {
          "defaultValue": "N/A",
          "type": "String",
          "metadata": {
            "schemaName": "mda_PlaidClientId",
            "description": "This is your Plaid client identifier. Provided by Plaid."
          }
        },
        "Webhook URL (mda_WebhookURL)": {
          "defaultValue": "N/A",
          "type": "String",
          "metadata": {
            "schemaName": "mda_WebhookURL",
            "description": "This webhook URL can be found (after first solution install) in the webhook settings in the 'Plaid Event Webhook' cloud flow. If you're installing this solution for the first time, the 'Plaid Event Webhook' flow won't be available, so leave this blank. After install, update this value with the URL via the 'Default Solution'."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f5aa17a8-db24-4654-a97d-2af674bc1f96"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ProfileGuid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Profile Guid",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "RoleGuid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Role Guid",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "description": "Plaid Item Id",
                  "title": "ItemId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_data": {
          "actions": {
            "Get_Profile": {
              "metadata": {
                "operationMetadataId": "9df90468-d8e9-4fad-a6db-ece4a735853d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "mda_profiles",
                  "$select": "mda_plaiduserid,mda_plaidlanguage,mda_plaidcountries,mda_plaidusertoken",
                  "$filter": "mda_profileid eq '@{triggerBody()?['text']}'",
                  "$top": 1,
                  "x-ms-odata-metadata-full": false
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "Item_Id_was_provided": {
              "actions": {
                "Get_Access_Token": {
                  "metadata": {
                    "operationMetadataId": "05301266-e238-4b80-99eb-77527e2acf41"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "mda_accesstokens",
                      "$select": "mda_plaidaccesstoken",
                      "$filter": "mda_plaiditemid eq '@{triggerBody()?['text_2']}'",
                      "$top": 1,
                      "x-ms-odata-metadata-full": false
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(triggerBody()?['text_2'])",
                      "@false"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "6fe8a94c-6d80-40b0-9195-27f6acc05481"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "License_check": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "95fc4a36-d48e-4ef1-8eee-c8d501141fef"
          },
          "type": "Scope"
        },
        "Update_Link_Session": {
          "runAfter": {
            "User_Api_Version": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "96b35653-9c0a-45c4-ba42-8d786d03f0b5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mda_roles",
              "recordId": "@triggerBody()?['text_1']",
              "x-ms-odata-metadata-full": false,
              "item/mda_lastlinksessionstatus": "Active",
              "item/mda_lastplaidlinktoken": "@coalesce(outputs('Create_Link_Token_v1')?['body/link_token'],outputs('Create_Link_Token_v2')?['body/link_token'])",
              "item/mda_linktokencreated": "@utcNow()",
              "item/mda_linktokenexpiration": "@coalesce(outputs('Create_Link_Token_v1')?['body/expiration'],outputs('Create_Link_Token_v2')?['body/expiration'])"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "On_failure": {
          "actions": {
            "Flow_run_metadata": {
              "metadata": {
                "operationMetadataId": "2e7f2cb6-e958-4c03-96e6-7b6379327a18"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@workflow()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "flowDisplayName": {
                          "type": "string"
                        },
                        "environmentName": {
                          "type": "string"
                        },
                        "logicAppName": {
                          "type": "string"
                        },
                        "environmentFlowSuspensionReason": {
                          "type": "string"
                        },
                        "sharingType": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "createdTime": {
                          "type": "string"
                        },
                        "lastModifiedTime": {
                          "type": "string"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "triggerType": {
                          "type": "string"
                        },
                        "createdByUserId": {
                          "type": "string"
                        }
                      }
                    },
                    "run": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Terminate_on_Error": {
              "runAfter": {
                "Log_error": [
                  "Succeeded",
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "33513984-64fb-4095-9e05-225fa375364a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Log_error": {
              "runAfter": {
                "Flow_run_metadata": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1cd7287c-3fdc-4492-be56-1366572c1315"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "mda_messages",
                  "x-ms-odata-metadata-full": false,
                  "item/mda_description": "<p class=\"editor-paragraph\">The @{body('Flow_run_metadata')?['tags']?['flowDisplayName']} flow failed. You can investigate <a href=\"https://make.powerautomate.com/environments/@{body('Flow_run_metadata')?['tags']?['environmentName']}/flows/@{body('Flow_run_metadata')?['tags']?['logicAppName']}/runs/@{body('Flow_run_metadata')?['run']?['name']}\" class=\"editor-link\">here</a>.</p>",
                  "item/mda_Profile@odata.bind": "/mda_profiles(@{triggerBody()?['text']})",
                  "item/mda_type": 0,
                  "item/mda_title": "@{body('Flow_run_metadata')?['tags']?['flowDisplayName']} Error"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "Failed_Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 500
              }
            }
          },
          "runAfter": {
            "Response": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "596fa008-c6f2-43a0-b62f-b672f9edaf39"
          },
          "type": "Scope"
        },
        "License_check": {
          "actions": {
            "Check_for_license": {
              "metadata": {
                "operationMetadataId": "d5e28c8e-1e6f-4182-a096-12d47f83cec0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "ian_IanusLicenseValidation",
                  "item/PublisherId": "bc2bd1f6-d301-446e-bc31-7324d15e89eb",
                  "item/PublicKeys": [
                    "@'-----BEGIN PUBLIC KEY-----\r\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsVbi3L74u0xMwBBsPcQ0\r\nC5oCEbGVybP+XE/zCPbQPb5qf/9BtElaPUyTTcDXNqYoACgQMQ7wEYsw+ZA6wNpi\r\nTbGNyAfs/ZqPWv8SF2UMPJSvajZftgXJKZx8WpE52+gt/cKOewwWUd9S380FbLk8\r\nGrI99OrY07XWgneV1VwGPP4LW9wi3E2Kyms5uG8bTa80fau3z8ZBCk7gCYJsMVn8\r\nSH6kBF7nvNjHkN5lyrwV2Sphzrxuwc/B1jVeGu6RK1xJNKaNvMCUCcO9qlrD1+Yi\r\njrLCHK7li93gWVU7DHn2xd8U8yrZK5vAqOeEZKUp1QrijBWDL8i4/8RE+TCpXX0B\r\n8QIDAQAB\r\n-----END PUBLIC KEY-----'"
                  ],
                  "item/ProductId": "6c27ac1c-e7e8-429c-b0f2-42ea8cce3066"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "License_is_Valid": {
              "actions": {},
              "runAfter": {
                "Check_for_license": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Unlicensed_Failure": {
                    "runAfter": {
                      "Unlicensed_Response": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ff5cac30-171a-4f5f-bc44-2ae5427576d6"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": "Unlicensed"
                      }
                    }
                  },
                  "Unlicensed_Response": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 400,
                      "body": {
                        "message": "Riata is missing its proper license."
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Check_for_license')?['body/IsValid']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "6923beac-75f8-4fc8-b562-dacd96170a03"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "486438a8-fcb6-4caf-ae65-b8a21e31cce2"
          },
          "type": "Scope"
        },
        "Get_Plaid_Secret_Key": {
          "runAfter": {
            "Get_data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7cc2436c-474d-4b20-b073-88723c2a5783"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "RetrieveEnvironmentVariableSecretValue",
              "item/EnvironmentVariableName": "mda_PlaidSecretKeyVault"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "User_Api_Version": {
          "actions": {
            "Create_Link_Token_v1": {
              "metadata": {
                "operationMetadataId": "e6bb14b5-b40f-4dd6-8b67-7158f2a207dd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "body/client_id": "@parameters('Plaid Client Id (mda_PlaidClientId)')",
                  "body/secret": "@coalesce(outputs('Get_Plaid_Secret_Key')?['body/EnvironmentVariableSecretValue'],parameters('Plaid Secret Key (Plain Text) (mda_PlaidSecretKeyPlainText)'))",
                  "body/client_name": "Riata",
                  "body/country_codes": "@split(replace(first(outputs('Get_Profile')?['body/value'])?['mda_plaidcountries@OData.Community.Display.V1.FormattedValue'],'; ',';'),';')",
                  "body/language": "@toLower(first(outputs('Get_Profile')?['body/value'])?['mda_plaidlanguage@OData.Community.Display.V1.FormattedValue'])",
                  "body/webhook": "@parameters('Webhook URL (mda_WebhookURL)')",
                  "body/enable_multi_item_link": "@\r\nor(\r\n  or(\r\n    not(contains(triggerBody(),'text_2')),\r\n    empty(triggerBody()?['text_2'])\r\n    ),\r\n  equals(triggerBody()?['text_2'],null)\r\n  )\r\n",
                  "body/access_token": "@if(\r\nor(\r\n  or(\r\n    not(contains(triggerBody(),'text_2')),\r\n    empty(triggerBody()?['text_2'])\r\n    ),\r\n  equals(triggerBody()?['text_2'],null)\r\n  )\r\n,\r\n  null,\r\n  first(outputs('Get_Access_Token')?['body/value'])?['mda_plaidaccesstoken']\r\n)",
                  "body/products": [
                    "transactions"
                  ],
                  "body/transactions/days_requested": 365,
                  "body/update/account_selection_enabled": "@not(\r\nor(\r\n  or(\r\n    not(contains(triggerBody(),'text_2')),\r\n    empty(triggerBody()?['text_2'])\r\n    ),\r\n  equals(triggerBody()?['text_2'],null)\r\n  )\r\n)",
                  "body/user_token": "@first(outputs('Get_Profile')?['body/value'])?['mda_plaidusertoken']",
                  "body/user/client_user_id": "@triggerBody()?['text']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0",
                  "operationId": "CreateLinkToken",
                  "connectionName": "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0-1"
                }
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs"
                  ]
                }
              }
            }
          },
          "runAfter": {
            "Get_Plaid_Secret_Key": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Create_Link_Token_v2": {
                "metadata": {
                  "operationMetadataId": "e6bb14b5-b40f-4dd6-8b67-7158f2a207dd"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "body/client_id": "@parameters('Plaid Client Id (mda_PlaidClientId)')",
                    "body/secret": "@coalesce(outputs('Get_Plaid_Secret_Key')?['body/EnvironmentVariableSecretValue'],parameters('Plaid Secret Key (Plain Text) (mda_PlaidSecretKeyPlainText)'))",
                    "body/client_name": "Riata",
                    "body/country_codes": "@split(replace(first(outputs('Get_Profile')?['body/value'])?['mda_plaidcountries@OData.Community.Display.V1.FormattedValue'],'; ',';'),';')",
                    "body/language": "@toLower(first(outputs('Get_Profile')?['body/value'])?['mda_plaidlanguage@OData.Community.Display.V1.FormattedValue'])",
                    "body/webhook": "@parameters('Webhook URL (mda_WebhookURL)')",
                    "body/enable_multi_item_link": "@\r\nor(\r\n  or(\r\n    not(contains(triggerBody(),'text_2')),\r\n    empty(triggerBody()?['text_2'])\r\n    ),\r\n  equals(triggerBody()?['text_2'],null)\r\n  )\r\n",
                    "body/user_id": "@first(outputs('Get_Profile')?['body/value'])?['mda_plaiduserid']",
                    "body/access_token": "@if(\r\n\r\nor(\r\n  or(\r\n    not(contains(triggerBody(),'text_2')),\r\n    empty(triggerBody()?['text_2'])\r\n    ),\r\n  equals(triggerBody()?['text_2'],null)\r\n  )\r\n,\r\n  null,\r\n  first(outputs('Get_Access_Token')?['body/value'])?['mda_plaidaccesstoken']\r\n)",
                    "body/products": [
                      "transactions"
                    ],
                    "body/transactions/days_requested": 365,
                    "body/update/account_selection_enabled": "@not(\r\nor(\r\n  or(\r\n    not(contains(triggerBody(),'text_2')),\r\n    empty(triggerBody()?['text_2'])\r\n    ),\r\n  equals(triggerBody()?['text_2'],null)\r\n  )\r\n)"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0",
                    "operationId": "CreateLinkToken",
                    "connectionName": "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0-1"
                  }
                },
                "runtimeConfiguration": {
                  "secureData": {
                    "properties": [
                      "inputs"
                    ]
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@substring(first(outputs('Get_Profile')?['body/value'])?['mda_plaiduserid'],0,4)",
                    "usr_"
                  ]
                }
              },
              {
                "equals": [
                  "@empty(first(outputs('Get_Profile')?['body/value'])?['mda_plaidusertoken'])",
                  "@false"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Response": {
          "runAfter": {
            "Update_Link_Session": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "LinkUrl": "@string(\r\n  coalesce(\r\n    outputs('Create_Link_Token_v1')?['body/hosted_link_url'],\r\n    outputs('Create_Link_Token_v2')?['body/hosted_link_url']\r\n  )\r\n)"
            },
            "schema": {
              "type": "object",
              "properties": {
                "LinkUrl": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}