solution/Workflows/ExportReport-AE7CEE1B-69D0-F011-8543-000D3A594DDD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "mda_Dataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerappsnotification": {
        "api": {
          "name": "shared_powerappsnotification"
        },
        "connection": {
          "connectionReferenceLogicalName": "mda_PushNotification"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Report Array",
                  "title": "ReportArray",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Profile Guid",
                  "title": "ProfileGuid",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "User Guid",
                  "title": "UserGuid",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "976ddf53-c7e0-4a38-a01f-e7fc1374351b"
          }
        }
      },
      "actions": {
        "On_failure": {
          "type": "Scope",
          "actions": {
            "Flow_run_metadata": {
              "type": "ParseJson",
              "inputs": {
                "content": "@workflow()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "flowDisplayName": {
                          "type": "string"
                        },
                        "environmentName": {
                          "type": "string"
                        },
                        "logicAppName": {
                          "type": "string"
                        },
                        "environmentFlowSuspensionReason": {
                          "type": "string"
                        },
                        "sharingType": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "createdTime": {
                          "type": "string"
                        },
                        "lastModifiedTime": {
                          "type": "string"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "triggerType": {
                          "type": "string"
                        },
                        "createdByUserId": {
                          "type": "string"
                        }
                      }
                    },
                    "run": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Log_error": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "mda_messages",
                  "x-ms-odata-metadata-full": false,
                  "item/mda_description": "<p class=\"editor-paragraph\">The @{body('Flow_run_metadata')?['tags']?['flowDisplayName']} flow failed. You can investigate <a href=\"https://make.powerautomate.com/environments/@{body('Flow_run_metadata')?['tags']?['environmentName']}/flows/@{body('Flow_run_metadata')?['tags']?['logicAppName']}/runs/@{body('Flow_run_metadata')?['run']?['name']}\" class=\"editor-link\">here</a>.</p>",
                  "item/mda_Profile@odata.bind": "/mda_profiles(@{triggerBody()?['text_1']})",
                  "item/mda_title": "@{body('Flow_run_metadata')?['tags']?['flowDisplayName']} Error",
                  "item/mda_type": 0
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Flow_run_metadata": [
                  "Succeeded"
                ]
              }
            },
            "User_Guid_was_provided_(failure)": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(triggerBody()?['text_2'])",
                      "@false"
                    ]
                  }
                ]
              },
              "actions": {
                "Send_push_on_failure": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "payload/recipients": [
                        "@triggerBody()?['text_2']"
                      ],
                      "payload/message": "Error: Report export failed",
                      "payload/openApp": false
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsnotification",
                      "operationId": "SendPushNotification",
                      "connectionName": "shared_powerappsnotification"
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "runAfter": {
            "User_Guid_was_provided": [
              "TimedOut",
              "Failed",
              "Skipped"
            ]
          }
        },
        "Create_CSV_table": {
          "type": "Table",
          "inputs": {
            "from": "@body('Construct_Table')",
            "format": "CSV"
          },
          "runAfter": {
            "Construct_Table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "57ee2c1f-dde1-46df-9d60-63ece02e6af6"
          }
        },
        "Construct_Table": {
          "type": "Select",
          "inputs": {
            "from": "@body('Parse_JSON')",
            "select": {
              "category": "@item()?['Name']",
              "budgetAmount": "@item()?['BudgetAmount']",
              "actualAmount": "@item()?['TransactionAmount']"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25538fb7-3f04-403f-9341-e155d8633919"
          }
        },
        "Parse_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ActualMinBudgetAmount": {
                    "type": "number"
                  },
                  "BudgetAmount": {
                    "type": "number"
                  },
                  "TransactionAmount": {
                    "type": "number"
                  },
                  "Type": {
                    "type": "integer"
                  },
                  "Depth": {
                    "type": "integer"
                  },
                  "Index": {
                    "type": "integer"
                  },
                  "Color": {
                    "type": "string"
                  },
                  "Name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "runAfter": {}
        },
        "Terminate_on_Error": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed"
          },
          "runAfter": {
            "On_failure": [
              "Succeeded",
              "TimedOut",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc5472cb-8c19-48e3-abaf-7ecc45873d8c"
          }
        },
        "User_Guid_was_provided": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@empty(triggerBody()?['text_2'])",
                  "@false"
                ]
              }
            ]
          },
          "actions": {
            "Send_Push_on_Success": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "payload/recipients": [
                    "@triggerBody()?['text_2']"
                  ],
                  "payload/message": "Report export is ready",
                  "payload/openApp": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsnotification",
                  "operationId": "SendPushNotification",
                  "connectionName": "shared_powerappsnotification"
                }
              },
              "metadata": {
                "operationMetadataId": "e3eba70b-00da-463a-92db-0d93886352e6"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Upload_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a75f4a21-2d8f-4b31-9fa7-6022b580a04d"
          }
        },
        "Upload_file": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "annotations",
              "x-ms-odata-metadata-full": false,
              "item/subject": "Report Export.csv",
              "item/isdocument": true,
              "item/documentbody": "@base64(body('Create_CSV_table'))",
              "item/filename": "Report Export.csv",
              "item/mimetype": "text/csv",
              "item/objectid_mda_message@odata.bind": "@outputs('Create_Message')?['body/@odata.id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Create_Message": [
              "SUCCEEDED"
            ]
          }
        },
        "Create_Message": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mda_messages",
              "x-ms-odata-metadata-full": true,
              "item/mda_description": "Attached is your export file.",
              "item/mda_Profile@odata.bind": "/mda_profiles(@{triggerBody()?['text_1']})",
              "item/mda_title": "Report Export",
              "item/mda_type": 2
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Create_CSV_table": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}