solution/Workflows/RemoveItem-877271CF-12BF-F011-BBD2-000D3A5D055D.json
{
  "properties": {
    "connectionReferences": {
      "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0-1": {
        "api": {
          "name": "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0",
          "logicalName": "mda_plaid"
        },
        "connection": {
          "connectionReferenceLogicalName": "mda_Plaid"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "mda_Dataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Plaid Client Id (mda_PlaidClientId)": {
          "defaultValue": "N/A",
          "type": "String",
          "metadata": {
            "schemaName": "mda_PlaidClientId",
            "description": "This is your Plaid client identifier. Provided by Plaid."
          }
        },
        "Plaid Secret Key (Plain Text) (mda_PlaidSecretKeyPlainText)": {
          "defaultValue": "N/A",
          "type": "String",
          "metadata": {
            "schemaName": "mda_PlaidSecretKeyPlainText",
            "description": "In case you'd rather not configure an Azure Key Vault, this will be used instead. If a valid Azure Key Vault reference is provided, that will be used in lieu of this."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "16fcf4b1-0bd7-474b-8027-8c39ea2ede0f"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ItemId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Plaid Item Id",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Remove_Item": {
          "runAfter": {
            "Get_Plaid_Secret_Key": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "ee09cb96-984f-403a-bc07-a45b83cb0d26"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "body/client_id": "@parameters('Plaid Client Id (mda_PlaidClientId)')",
              "body/secret": "@coalesce(outputs('Get_Plaid_Secret_Key')?['body/EnvironmentVariableSecretValue'],parameters('Plaid Secret Key (Plain Text) (mda_PlaidSecretKeyPlainText)'))\r\n",
              "body/access_token": "@first(outputs('Get_Access_Token')?['body/value'])?['mda_plaidaccesstoken']"
            },
            "host": {
              "apiId": "",
              "operationId": "RemoveItem",
              "connectionName": "shared_plaid-5f9e73ede31213e95a-5f77db087877e794a0-1"
            }
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs"
              ]
            }
          }
        },
        "Delete_Item_from_DB": {
          "runAfter": {
            "Remove_Item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "201d755e-3d19-4346-bc9b-2e2fe162e55d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mda_accesstokens",
              "recordId": "@first(outputs('Get_Access_Token')?['body/value'])?['mda_accesstokenid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "DeleteRecord",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "License_check": {
          "actions": {
            "Check_for_license": {
              "metadata": {
                "operationMetadataId": "d5e28c8e-1e6f-4182-a096-12d47f83cec0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "ian_IanusLicenseValidation",
                  "item/PublisherId": "bc2bd1f6-d301-446e-bc31-7324d15e89eb",
                  "item/PublicKeys": [
                    "@'-----BEGIN PUBLIC KEY-----\r\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsVbi3L74u0xMwBBsPcQ0\r\nC5oCEbGVybP+XE/zCPbQPb5qf/9BtElaPUyTTcDXNqYoACgQMQ7wEYsw+ZA6wNpi\r\nTbGNyAfs/ZqPWv8SF2UMPJSvajZftgXJKZx8WpE52+gt/cKOewwWUd9S380FbLk8\r\nGrI99OrY07XWgneV1VwGPP4LW9wi3E2Kyms5uG8bTa80fau3z8ZBCk7gCYJsMVn8\r\nSH6kBF7nvNjHkN5lyrwV2Sphzrxuwc/B1jVeGu6RK1xJNKaNvMCUCcO9qlrD1+Yi\r\njrLCHK7li93gWVU7DHn2xd8U8yrZK5vAqOeEZKUp1QrijBWDL8i4/8RE+TCpXX0B\r\n8QIDAQAB\r\n-----END PUBLIC KEY-----'"
                  ],
                  "item/ProductId": "6c27ac1c-e7e8-429c-b0f2-42ea8cce3066"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "License_is_Valid": {
              "actions": {},
              "runAfter": {
                "Check_for_license": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Unlicensed_Failure": {
                    "runAfter": {
                      "Unlicensed_Response": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ff5cac30-171a-4f5f-bc44-2ae5427576d6"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": "Unlicensed"
                      }
                    }
                  },
                  "Unlicensed_Response": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 400,
                      "body": {
                        "message": "Riata is missing its proper license."
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Check_for_license')?['body/IsValid']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "6923beac-75f8-4fc8-b562-dacd96170a03"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "486438a8-fcb6-4caf-ae65-b8a21e31cce2"
          },
          "type": "Scope"
        },
        "On_failure": {
          "actions": {
            "Flow_run_metadata": {
              "metadata": {
                "operationMetadataId": "2e7f2cb6-e958-4c03-96e6-7b6379327a18"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@workflow()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "flowDisplayName": {
                          "type": "string"
                        },
                        "environmentName": {
                          "type": "string"
                        },
                        "logicAppName": {
                          "type": "string"
                        },
                        "environmentFlowSuspensionReason": {
                          "type": "string"
                        },
                        "sharingType": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "createdTime": {
                          "type": "string"
                        },
                        "lastModifiedTime": {
                          "type": "string"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "triggerType": {
                          "type": "string"
                        },
                        "createdByUserId": {
                          "type": "string"
                        }
                      }
                    },
                    "run": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Terminate_on_Error": {
              "runAfter": {
                "Log_error": [
                  "Succeeded",
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "33513984-64fb-4095-9e05-225fa375364a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Log_error": {
              "runAfter": {
                "Flow_run_metadata": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1cd7287c-3fdc-4492-be56-1366572c1315"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "mda_messages",
                  "x-ms-odata-metadata-full": false,
                  "item/mda_description": "<p class=\"editor-paragraph\">The @{body('Flow_run_metadata')?['tags']?['flowDisplayName']} flow failed. You can investigate <a href=\"https://make.powerautomate.com/environments/@{body('Flow_run_metadata')?['tags']?['environmentName']}/flows/@{body('Flow_run_metadata')?['tags']?['logicAppName']}/runs/@{body('Flow_run_metadata')?['run']?['name']}\" class=\"editor-link\">here</a>.</p>",
                  "item/mda_Profile@odata.bind": "@first(outputs('Get_Access_Token')?['body/value'])?['mda_Profile']?['@odata.id']",
                  "item/mda_title": "@{body('Flow_run_metadata')?['tags']?['flowDisplayName']} Error",
                  "item/mda_type": 0
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "Failed_Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 500
              }
            }
          },
          "runAfter": {
            "Response": [
              "TimedOut",
              "Failed",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "596fa008-c6f2-43a0-b62f-b672f9edaf39"
          },
          "type": "Scope"
        },
        "Get_Plaid_Secret_Key": {
          "runAfter": {
            "Get_Access_Token": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "RetrieveEnvironmentVariableSecretValue",
              "item/EnvironmentVariableName": "mda_PlaidSecretKeyVault"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "Get_Access_Token": {
          "runAfter": {
            "License_check": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e8ab3876-93f3-4b68-86b6-3b1e17b21e70"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mda_accesstokens",
              "$select": "mda_accesstokenid,mda_plaidaccesstoken",
              "$filter": "mda_plaiditemid eq '@{triggerBody()?['text']}'",
              "$top": 1,
              "x-ms-odata-metadata-full": false,
              "$expand": "mda_Profile($select=mda_profileid)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "Response": {
          "runAfter": {
            "Delete_Item_from_DB": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}